providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik

log:
  level: DEBUG

api:
  dashboard: true

certificatesResolvers:
  stepca:
    acme:
      caServer: "https://10.0.2.2:9000/acme/acme/directory"
      email: "cedricselkmann@gmail.com"
      storage: "/etc/traefik/acme.json"
      certificatesDuration: 2160
      tlsChallenge: {}

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http:
      tls:
        certresolver: stepca
