services:
  outline:
    image: docker.getoutline.com/outlinewiki/outline:latest
    user: "1000:1000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
      URL: ${URL}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      SECRET_KEY: ${SECRET_KEY}
      UTILS_SECRET: ${UTILS_SECRET}
      NODE_ENV: ${NODE_ENV}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
      PGSSLMODE: "disable"
    ports:
      - "3000:3000"
    volumes:
      - /mnt/outline/data:/var/lib/outline/data
    depends_on:
      - postgres
      - redis

  redis:
    image: redis
    expose:
      - "6379"
    environment:
      REDIS_URL: ${REDIS_URL}
    volumes:
      - ./redis.conf:/redis.conf
    command: ["redis-server", "/redis.conf"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 3

  postgres:
    image: postgres
    expose:
      - "5432"
    user: "1000:1000"
    volumes:
      - /mnt/outline/postgres:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "outline", "-U", "user"]
      interval: 30s
      timeout: 20s
      retries: 3
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGSSLMODE: "disable"

volumes:
  storage-data:
  database-data: